<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.mapper.ProjectRegionServiceMapper">
    
    <resultMap type="ProjectRegionService" id="ProjectRegionServiceResult">
        <result property="id"    column="id"    />
        <result property="regionId"    column="region_id"    />
        <result property="serviceType"    column="service_type"    />
    </resultMap>

    <resultMap id="ProjectRegionServiceProjectServiceCaseResult" type="ProjectRegionService" extends="ProjectRegionServiceResult">
        <collection property="projectServiceCaseList" ofType="ProjectServiceCase" column="id" select="selectProjectServiceCaseList" />
    </resultMap>

    <resultMap type="ProjectServiceCase" id="ProjectServiceCaseResult">
        <result property="id"    column="id"    />
        <result property="regionServiceId"    column="region_service_id"    />
        <result property="caseName"    column="case_name"    />
        <result property="caseDir"    column="case_dir"    />
        <result property="isDefault"    column="is_default"    />
        <result property="validparam"    column="validparam"    />
        <result property="description"    column="description"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <sql id="selectProjectRegionServiceVo">
        select id, region_id, service_type from project_region_service
    </sql>

    <select id="selectProjectRegionServiceList" parameterType="ProjectRegionService" resultMap="ProjectRegionServiceResult">
        <include refid="selectProjectRegionServiceVo"/>
        <where>  
            <if test="regionId != null "> and region_id = #{regionId}</if>
            <if test="serviceType != null  and serviceType != ''"> and service_type = #{serviceType}</if>
        </where>
    </select>
    
    <select id="selectProjectRegionServiceById" parameterType="Long" resultMap="ProjectRegionServiceProjectServiceCaseResult">
        select id, region_id, service_type
        from project_region_service
        where id = #{id}
    </select>

    <select id="selectProjectServiceCaseList" resultMap="ProjectServiceCaseResult">
        select id, region_service_id, case_name, case_dir, is_default, validparam, description, create_time, update_time, create_by, update_by
        from project_service_case
        where region_service_id = #{region_service_id}
    </select>

    <insert id="insertProjectRegionService" parameterType="ProjectRegionService" useGeneratedKeys="true" keyProperty="id">
        insert into project_region_service
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="regionId != null">region_id,</if>
            <if test="serviceType != null and serviceType != ''">service_type,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="regionId != null">#{regionId},</if>
            <if test="serviceType != null and serviceType != ''">#{serviceType},</if>
         </trim>
    </insert>

    <update id="updateProjectRegionService" parameterType="ProjectRegionService">
        update project_region_service
        <trim prefix="SET" suffixOverrides=",">
            <if test="regionId != null">region_id = #{regionId},</if>
            <if test="serviceType != null and serviceType != ''">service_type = #{serviceType},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteProjectRegionServiceById" parameterType="Long">
        delete from project_region_service where id = #{id}
    </delete>

    <delete id="deleteProjectRegionServiceByIds" parameterType="String">
        delete from project_region_service where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
    <delete id="deleteProjectServiceCaseByRegionServiceIds" parameterType="String">
        delete from project_service_case where region_service_id in 
        <foreach item="regionServiceId" collection="array" open="(" separator="," close=")">
            #{regionServiceId}
        </foreach>
    </delete>

    <delete id="deleteProjectServiceCaseByRegionServiceId" parameterType="Long">
        delete from project_service_case where region_service_id = #{regionServiceId}
    </delete>

    <insert id="batchProjectServiceCase">
        insert into project_service_case( id, region_service_id, case_name, case_dir, is_default, validparam, description, create_time, update_time, create_by, update_by) values
        <foreach item="item" index="index" collection="list" separator=",">
            ( #{item.id}, #{item.regionServiceId}, #{item.caseName}, #{item.caseDir}, #{item.isDefault}, #{item.validparam}, #{item.description}, #{item.createTime}, #{item.updateTime}, #{item.createBy}, #{item.updateBy})
        </foreach>
    </insert>
</mapper>